<form id="jobSearchForm" class="row g-2 m-3 flex-d justify-content-center align-items-center">
  <div class="col-md-4">
    <input type="text" name="keyword" class="form-control" placeholder="Search title or description" />
  </div>
  <div class="col-md-3">
    <select name="location" class="form-select">
      <option value="">All Locations</option>
      <option>Chennai</option>
      <option>Bangalore</option>
      <option>Remote</option>
    </select>
  </div>
  <div class="col-md-3">
    <select name="company" class="form-select">
      <option value="">All Companies</option>
      <option>Zoho</option>
      <option>TCS</option>
      <option>Infosys</option>
    </select>
  </div>
  <div class="col-md-2 d-flex gap-2">
    <button type="submit" class="btn btn-primary w-50">Search</button>
    <script src="../script/searchBar.compontent.js"></script>
  </div>
</form>